[2019-04-02 23:25] fejta opened #3 "prow does not have ability to list repo collaborators"
/assign @jlewi

[code]

[2019-04-03 02:12] terrytangyuan commented on #3
Is this happening in other kubeflow repos?

[2019-04-04 17:57] richardsliu commented on #3
This should be fixed now. I've added write access to ci-bots (of which k8s-ci-robot is a member).

[2019-04-04 17:58] fejta commented on #3
Thanks! Will reactivate if I notice anything similar.
/close

[2019-04-04 17:58] #3 closed

[2019-04-04 21:45] richardsliu opened #7 "Consider how to refactor pkg/controller.v1beta2/tensorflow"
The controller logic under https://github.com/kubeflow/tf-operator/tree/master/pkg/controller.v1beta2/tensorflow and https://github.com/kubeflow/pytorch-operator/tree/master/pkg/controller.v1beta2/pytorch have some code in common. We should consider refactoring the logic there, and move the shared implementation into this repository.

[2019-04-04 21:46] richardsliu commented on #7
/cc @johnugeorge
/cc @terrytangyuan
/cc @jian-he

[2019-04-04 22:21] richardsliu opened #8 "Refactoring common operator tests"
There are common Python test code in:
https://github.com/kubeflow/pytorch-operator/tree/master/test
https://github.com/kubeflow/tf-operator/tree/master/test

Consider how these can be refactored to reduce duplication.

[2019-04-04 22:21] richardsliu commented on #8
/cc @johnugeorge
/cc @terrytangyuan
/cc @jian-he

[2019-04-04 23:02] jian-he commented on #7
What's the thought of using kube-builder to rewrite tf-operator/pytorch-operator, if that is done, a lot of scaffolding code will be extracted out to be common automatically by kube-builder.

Few thoughts for the remaining logic
- we should let the operator able to handle how to set the its own cluster spec - tfoperator and pytorch have different cluster spec
- we should let each operator able to

[2019-04-04 23:57] richardsliu commented on #7
Yes, ideally each operator's code should only handle:
- Cluster specs (replica types and logic)
- Job completion and reconcile logic
- Anything framework specific (like MPI)

I am ok with using kubebuilder if it helps us.

[2019-04-08 03:33] jian-he commented on #7
I'm taking a shot on this. will provide a POC patch

[2019-04-08 03:53] gaocegege commented on #7
Kubebuilder SGTM, while it requires a lot of work to re-implement the logic.

[2019-04-08 06:28] johnugeorge commented on #7
SGTM. It would be a huge rewrite including tests.

[2019-04-08 06:44] gaocegege commented on #7
Yeah, in the best case, we could maintain a customized version of kubebuilder, which generate higher level abstraction than upstream version. kubernetes-sigs/kubebuilder generates reconciler and devepopers need implement the real logic. kubeflow/kubebuilder could generate some higher level struct which reuse common spec in our common operator, developers just need to implement logic such like crea

[2019-04-08 20:32] richardsliu commented on #7
After some thought, I think we should estimate how much effort it will take to use kubebuilder to rewrite all the logic. We are currently trying to stabilize the TFJob and PyTorch operators for V1 release (timeline is around June/July).

We should focus on making implementations of future operators easier, without reimplementing too much of the existing TFJob/Pytorch operators.

[2019-04-08 22:07] jian-he commented on #7
Yep, using kubebuilder to rewrite tf-operator is a different task.
we should focus on extracting more common code out first to make others write operators easier.
What I meant in this task is to extract more building block out only.
After that, we can see if it's worth to change tf-operator to use kube-builder or not.

[2019-04-11 06:54] k82cn opened #11 "Add SchedulingPolicy for the common operator"
Add `.spec.runtime.schedulingPolicy` for common operator to use batch scheduler.

[2019-04-11 06:54] k82cn commented on #11
/assign

[2019-04-15 06:46] gaocegege commented on #8
Could we add more unit test in common operator? I think it is hard to import integration test or system test since the operator is not a real k8s operator.

[2019-04-17 02:23] gaocegege commented on #11
From https://github.com/kubeflow/common/pull/13#issuecomment-483880849

@k82cn

@gaocegege

@k82cn

@jian-he @johnugeorge @richardsliu @terrytangyuan

WDYT

[2019-04-18 09:42] merlintang commented on #8
I would be better that we can refactor the test case, and provide the dev document for running test.

[2019-04-19 16:28] zhan849 opened #19 "[FeatureRequest] Support dynamic volume provisioning for distributed training job"
This is ported from https://github.com/kubeflow/tf-operator/issues/949 as we want to make this feature generic. Basically we want to add `volumeClaimTemplate` to job spec so the workers are able to use customized volumes for scratch space.

[2019-04-22 12:14] jlewi commented on #7
@richardsliu What is the remaining work to close out this issue?

[2019-04-22 21:11] richardsliu commented on #7
@jian-he and @terrytangyuan are working on a couple more PRs. Afterwards we can start migrating the existing operators to the new API.

[2019-04-23 00:54] ywskycn opened #22 "Proposal for exposing generic prometheus metrics in common operator"
# Proposal
Add generic metrics (jobs/pods/...) to the common operator, which can be directly enabled and used by operators built base on common operator

# Motivation
To track some job-level metrics, currently we need to add prometheus metric code inside each job operator. For example, to know how many tfjobs created in the last hour, we need to add a Counter inside tf-operator. This request is ve

[2019-04-23 01:25] gaocegege commented on #22
/cc @terrytangyuan

The feature LGTM.

[2019-04-23 01:36] jian-he commented on #22
lgtm, +1

[2019-04-23 01:41] terrytangyuan commented on #22
Sounds great to me. This would be a good way to standardize metrics collection. We could also expose some utility methods for operators to use to collect operator specific custom metrics so best practices and standards can be shared across operators.

[2019-04-23 06:07] richardsliu commented on #22
Sounds great to me.

/cc @jlewi

[2019-04-23 06:33] johnugeorge commented on #22
Great. LGTM
One problem that I see is the limited information in Job Controller. If we design the common interfaces well, this is possible.

[2019-04-23 06:37] gaocegege commented on #22
Sure. kubebuilder supports the feature, thus I think we can also implement it in common-operator if we design it well.

[2019-04-23 07:33] merlintang opened #23 "Does package name github.com/stretchr/testify/assert correct ?"
For the test job of common,
the assert function i.e., https://github.com/stretchr/testify/assert is already moved to
https://github.com/stretchr/testify/tree/master/assert. Should we also change the related https://github.com/kubeflow/common/blob/master/job_controller/job_test.go#L9 as well ?

[2019-04-23 07:43] gaocegege commented on #23
Sorry, I am a little confused. Do you mean the package is moved?

[2019-04-23 08:45] merlintang commented on #23
yes, the package name is changed. thus import old name would bring error.

[2019-04-23 09:06] gaocegege commented on #23
We have vendored the dep, thus it may not affect us now. BTW, what's the name of the package is now? https://github.com/stretchr/testify/tree/master/assert 's package name is github.com/stretchr/testify/assert, which is same as the name in the current code.

[2019-04-23 12:00] #23 closed

[2019-04-24 09:38] gaocegege commented on #8
@richardsliu Can we make TestJob as a real CRD, then mock the kube-apiserver to run tests in job_controller?

[2019-04-24 13:46] merlintang commented on #23
@gaocegege I do not see the dep in the common directory, do we have prepared the vendor dep ?

[2019-04-24 14:56] terrytangyuan commented on #23
@merlintang No we are not keeping vendor in the repo yet (currently it’s gitignored). I just opened https://github.com/kubeflow/common/pull/28 so let's discuss this separate issue there.

[2019-04-24 17:16] richardsliu commented on #8
That is the plan. We can add e2e tests with the TestJob as well.

[2019-04-25 05:18] merlintang commented on #23
@terrytangyuan  Thanks for following up this.

[2019-04-30 22:51] jian-he opened #33 "PodControl/ServiceControl interfaces are duplicated with the JobController create/delete Pod/Service Interface"
https://github.com/kubeflow/common/blob/master/job_controller/job_controller.go#L68-L77
https://github.com/kubeflow/common/blob/master/job_controller/job_controller.go#L111-L114

Problem
Above two interfaces are both used for underlying create/delete Pod/Service implementations, which are duplicated.

Goal
- we should keep one of them
- only in one place, i.e. ControllerInterface.

Solution
1)   O

[2019-05-01 07:24] johnugeorge commented on #33
Have we moved entire PodControl/ServiceControl logic to JobController?  If we have abstracted PodControl/ServiceControl logic  inside CreatePod/CreateService  and DeletePod/DeleteService of JobController, i think that we won't need https://github.com/kubeflow/common/blob/master/job_controller/job_controller.go#L111-L114

[2019-05-01 13:36] terrytangyuan commented on #33
I am fine with keeping one of them as long as the code can be refactored into one place. We could definitely just reuse Kubernetes utils if we are sure those are exact and unnecessary copies.

[2019-05-01 22:10] richardsliu commented on #33
Let's try to keep the interface in one place. The internal code structure can always be refactored later, but we should keep the interface stable.

@gaocegege Do you remember why the k8s utils were copied?

[2019-05-05 05:39] gaocegege commented on #33
@richardsliu @jian-he @johnugeorge

It is a historical problem. In v1alpha2, we(me and @ScorpioCPH ) introduces podcontrol and servicecontrol which are used to CRUD K8s resources. We found that importing the implementation from k8s is not what we want. The vendor dep will be much huger. And k8s does not have service control.

Thus we copied pod control, and implement service control using the simi

[2019-05-10 22:18] karthikv2k opened #37 "Proposal: using gang scheduling API for generic distributed training support in Kubeflow"
# Problem
Currently in Kubeflow, we have a controller per framework (e.g. TF-Job, and PyTorch-Operator) and to support a new framework, the message we are giving is that users have to write a new controller. This is a lot of friction for data scientists who most likely don’t know Go-Lang and K8s. Even if they do, getting a version of controller deployed in a corp cluster is not easy.
# Proposed So

[2019-05-10 22:18] karthikv2k commented on #37
CC @richardsliu @abhi-g

[2019-05-10 22:28] richardsliu commented on #37
/cc @k82cn
/cc @gaocegege
/cc @johnugeorge

[2019-05-11 04:46] johnugeorge commented on #37
In this proposal, How is the distributed training environment setup for each framework? Eg: TF_CONFIG env in tensorflow(https://www.tensorflow.org/guide/distribute_strategy#setting_up_tf_config_environment_variable)  and MASTER_ADDR, MASTER_PORT etc in pytorch (https://pytorch.org/tutorials/intermediate/dist_tuto.html#initialization-methods)

It looks similar to the common operator discussion that

[2019-05-12 02:54] k82cn commented on #37
Some input here: Gang-scheduling/coscheduling is the requirements to the scheduler, so common operator defined the `SchedulingSpec` to communicate with kube-batch; for the other part, e.g. multiple pod template, it's more about controller instead of scheduling policy. Both of them are fundamental feature to k8s. please refer to https://github.com/kubernetes/kubernetes/issues/68357 , http://github.

[2019-05-13 19:56] karthikv2k commented on #37
The user's code will be responsible for setting the right environment variables for the framework they are using. The gang scheduler/controller cab set a cluster spec in an env variable that is similar to TF_CONFIG. Taking a cluster spec and convert into framework specific env should be trivial.

where can find "common operator discussion"? form the name it looks similar.

[2019-05-13 19:59] karthikv2k commented on #37
@k82cn https://github.com/volcano-sh/volcano/blob/master/docs/design/job-api.md describes everything that I need and even goes beyond that!
However, I haven't got a clear idea on when to use volcano vs a Kubeflow job operator. Are these complimentary offerings?

[2019-05-14 06:15] merlintang commented on #22
LGTM, this looks so good.

[2019-05-15 01:17] k82cn commented on #37
Very glad to hear that :)

Volcano is to enhance k8s's batch capability ( kubernetes/kubernetes#68357 ); Kubeflow is easier for user to use ML frameworks :)

[2019-05-15 01:51] johnugeorge commented on #37
@karthikv2k  This is the issue tracking it https://github.com/kubeflow/tf-operator/issues/960

[2019-05-17 14:18] #33 closed

[2019-05-22 01:29] merlintang commented on #7
@richardsliu  if we implement the xgboost operator, can we use kubebuilder + kubeflow common ? this would save more efforts.

[2019-05-22 21:53] jian-he opened #38 "Re organize the API package"
Right now the user facing APIs are scattered in different packages, we should re-organize them into a central api package.
A proposal looks like below:

![image](https://user-images.githubusercontent.com/3662775/58211618-4d4d4800-7ca1-11e9-9c68-e6be92ba1f12.png)

1.  types.go
2. [new file] interface.go:  the ControllerInterface for custom operators to override
3. [new file] controller.go: the JobC

[2019-05-22 21:54] jian-he commented on #38
@richardsliu @johnugeorge @terrytangyuan  opinions ?

[2019-05-22 22:00] richardsliu commented on #38
Makes sense to me.

[2019-05-22 22:14] terrytangyuan commented on #38
+1

[2019-05-23 23:30] #38 closed

[2019-06-12 00:04] merlintang opened #40 "[hot-fix] GetDefaultContainerPortNumber would be PortName"
For the reconcile service part , we need to match the container port name with specific job port name. I think there is an mismatch between name and port number in the reconcile service.

see this function: https://github.com/kubeflow/common/blob/master/job_controller/service.go#L174

it would be
[code]

I would like to propose a PR to fix this.

[2019-06-12 00:05] merlintang commented on #40
@jian-he what do you think ?

[2019-06-12 00:32] merlintang commented on #40
the pr is sent out. https://github.com/kubeflow/common/pull/41

[2019-06-12 04:09] merlintang commented on #40
this is fixed.

[2019-06-12 04:09] #40 closed

[2019-06-18 22:15] merlintang opened #43 "[hot-fix] UpdateJobStatus Pass the jobStatus by reference"
The [UpdateJobStatus](https://github.com/kubeflow/common/blob/master/job_controller/job.go#L213) would be passed by reference, because user already modify this status. Next, [UpdateJobStatusInApiServer](https://github.com/kubeflow/common/blob/master/job_controller/job.go#L220) come to use this updated status as well.

[2019-06-18 22:16] merlintang commented on #43
I create a PR for this. what do you think @jian-he

[2019-06-19 01:35] merlintang commented on #43
this is fixed. close this.

[2019-06-19 01:35] #43 closed

[2019-07-08 06:51] gaocegege commented on #7
Can we close the issue now?

[2019-08-21 04:03] xiaogaozi commented on #19
@zhan849 May I ask is there any progress about this feature?

[2019-08-21 04:43] zhan849 commented on #19
@xiaogaozi thanks for following up - unfortunately I've got little bandwidth in Q3 to work on this given several high-priority items I need to focus on for my company. I will likely to get back to this in Q4. Is this blocking any release? If so, I'm ok if someone else take over the impl for the feature.

Apologize about the inconvenience

[2019-08-21 06:58] xiaogaozi commented on #19
We ([Xiaohongshu](https://en.wikipedia.org/wiki/Xiaohongshu)) rely on this feature recently, it's better if someone could continue the contribution.

[2019-08-26 01:10] YesterdayxD opened #46 "add priority in scheduling for the common operator"
hi，everyone:
I find that it has a attribution about PodGroupSpec.PriorityClassName in kubebatch, so I want to add this attribution into the operators of kubeflow so that it is uesd by kubebatch.
I try to add PriorityClassName into RunPolicy.SchedulingPolicy.
`// SchedulingPolicy encapsulates various scheduling policies of the distributed training
// job, for example `minAvailable` for gang-schedul

[2019-08-27 07:44] YesterdayxD commented on #46
/cc @gaocegege
/cc @k82cn

[2019-08-28 01:48] gaocegege commented on #46
/cc @richardsliu @johnugeorge @hougangliu

[2019-08-30 01:38] k82cn commented on #46
Are we going to inline `SchedulingPolicy` in `PyTorchJobSpec`? What's the suggestion to other operator?

[2019-09-02 08:40] davidstack commented on #46
maybe all operrator should add SchedulingPolicy,so we can add SchedulingPolicy  in this comnon package

[2019-09-02 08:49] gaocegege commented on #46
Yeah, we should add SchedulingPolicy to common. But pytorch-operator and tf-operator does not use common now. We should re-implement the logic in these operators, too

[2019-09-04 06:11] 4everming commented on #46
Yes, we should implement the logic in MXNet-Operator too.

[2019-09-09 10:02] gaocegege commented on #46
@johnugeorge @richardsliu

Do you have any suggestion?

[2019-10-02 12:30] CJZheng91 opened #47 "Proposal: Add Error JobConditionType to reflect controller error (Resource Quota Error) into the status"
**Problem**: Currently JobConditionType constants, there doesn't exist a a status that indicates error happening in the controller. This cause problems, e.g. when pod creation fails because it exceeds resource quota. Take TFJob as an example (https://github.com/kubeflow/tf-operator/blob/5adee6f30c86484897db33188af591d5976d1cd2/pkg/control/pod_control.go#L138), if pod creation here exceeds resource

[2019-10-15 09:41] liubog2008 opened #48 "Delete direct dependency of kubernetes"
Now go.mod has dependency of kubernetes v1.11.2.
It will be hard to import job_controller/pkg/api because of compatibility with new version client-go

[2019-10-15 09:43] liubog2008 commented on #48
/bug

[2019-10-15 09:44] liubog2008 commented on #48
[code]

[2019-10-18 04:12] yeya24 commented on #22
Any progress for this issue?

[2019-10-18 04:21] gaocegege commented on #22
@yeya24 AFAIK, there is no one working on it now.

[2019-10-21 01:29] YesterdayxD commented on #46
retire wg-machine-learning？It is so bad.

[2019-10-21 07:43] k82cn commented on #46
Nop for now, I'll help to maintain ML-WG for a while; if still not working items, we'll retire it :)

[2019-10-29 09:31] gaocegege commented on #46
Hi is there any update?

[2019-11-11 05:57] gaocegege commented on #48
We should to remove the dep here https://github.com/kubeflow/common/blob/master/job_controller/api/v1/controller.go#L83

Then we do not need "k8s.io/kubernetes/pkg/controller"

[2019-11-13 03:26] liubog2008 commented on #48
There are two way to resolve this problem

1. Fork `controller.ControllerExpectationsInterface` as third_party code
2. Move `JobController` out of package `api/v1` (why it is in v1 package ==)

[2019-11-14 02:21] gaocegege commented on #48
I have no idea why we place it in api.

@richardsliu @jian-he @merlintang @terrytangyuan Do you have idea about it?

[2020-01-09 16:46] mouradmourafiq commented on #48
Any update on this issue, it's breaking dependency on all operators' api packages.

[2020-03-08 10:24] Jeffwan commented on #48
em. this will work but probably not the elegant way, I notice there's an issue to suggest to add expectations in client-go. I reopen the issue and will spend some time on it later. https://github.com/kubernetes/client-go/issues/332

I doubt this will help resolve the dependency issue if you use go mod.? Correct me if I am wrong. Even you import `github.com/kubeflow/common/job_controller/api/v1`, d

[2020-03-08 22:46] Jeffwan opened #52 "Deprecate glog and use logger in commonutil instead"
glog has been deprecated in the kubernetes community for a few reasons.
I notice it's still being used in the common project and I would be better to clean up all references and migrate to existing log solutions.

/improvement

[2020-03-09 01:18] terrytangyuan commented on #48
I agree with moving it out of the package `api/v1`. Others please double check as well.

[2020-03-09 07:57] Jeffwan opened #54 "Enhance maintainability of operator common module"
There're few issues in current project and I propose to have some improvements for these issues.
I am in progress of a PR and please share some insights and feedbacks.

1. `./hack/update-codegen` doesn't work with current code structure. It tries to generate outputs for `operator:v1` but project only have `job_controller/api/v1` directory which doesn't match.
https://github.com/kubeflow/common/blo

[2020-03-09 07:57] Jeffwan commented on #54
/cc @terrytangyuan @gaocegege @jian-he @richardsliu

[2020-03-09 07:59] Jeffwan commented on #54
@terrytangyuan @gaocegege @jian-he @richardsliu

[2020-03-09 13:47] terrytangyuan commented on #54
@Jeffwan Thanks for sharing the detailed plan! The list of suggested enhancements makes sense to me. We can review the details in PRs.

[2020-03-09 18:53] Jeffwan commented on #52
PR merged and this can be closed

[2020-03-09 18:53] #52 closed

[2020-03-25 20:12] Jeffwan opened #56 "Make training container port optional"
Instead of using fixed port to communicate with each other, some frameworks randomly pick up port by worker and use auto-discovery to find entire topology in consensus store.

Currently, common force user to implement `GetDefaultContainerPortName` and `GetDefaultContainerPortNumber` and use it in following logic.

https://github.com/kubeflow/common/blob/64f943084a050ac84b50ce4f49b6b6e085b247e6/pkg

[2020-03-25 20:16] terrytangyuan commented on #56
Sounds good to me.

[2020-03-26 00:04] Jeffwan opened #59 "Job controller doesn't reconcile scale down changes"
If user changed replica to a smaller value, controller won't delete those redundant pods and services.

In the reconcile logic, we always set scope slice size based on value of `replicas`.
https://github.com/kubeflow/common/blob/64f943084a050ac84b50ce4f49b6b6e085b247e6/pkg/controller.v1/common/pod.go#L221

Let's say we have index 0, 1, 2 pods and user change replicas from 3 to 2.  When we iterate

[2020-03-26 00:16] Jeffwan commented on #59
/kind/improvement

[2020-03-26 01:40] gaocegege commented on #59
@Jeffwan Yeah. It is a potential problem. When I implement the logic here, dynamic member is not supported in distributed training. Now we can see the trend. Thus I think we should support it.

Thanks.

[2020-03-26 03:57] Jeffwan commented on #59
@gaocegege Yes. We can at least support this case in reconciler logic first.

[2020-03-26 04:09] gaocegege commented on #59
Yeah. I agree on it.
Thanks for your contribution! :tada: :+1:

[2020-03-28 22:07] Jeffwan commented on #59
PR has been merged. Close the issue

[2020-03-28 22:07] #59 closed

[2020-03-28 22:08] Jeffwan commented on #56
PR has been merged and I will close the issue

[2020-03-28 22:08] #56 closed

[2020-04-05 20:51] Jeffwan opened #60 "[Feature Request] Provides a better common logger"
Currently, `kubeflow/common` provides a logger utils for operator to use.  It uses `github.com/sirupsen/logrus` underneath.

https://github.com/kubeflow/common/blob/master/pkg/util/logger.go#L20

The problem I notice is new operators using `kubebuilder` have inbuilt logger for operator logics.
This makes the logs really messy.

Can we provide a interface layer like [logr](https://github.com/go-log

[2020-04-06 14:42] terrytangyuan commented on #60
Agreed. Having a unified interface would make it easier for downstream apps to consume the logs.

[2020-04-12 22:48] terrytangyuan opened #64 "Migrate operators to use kubeflow/common APIs"
This is part of the [roadmap](https://github.com/kubeflow/common/blob/master/ROADMAP.md).

[2020-04-12 22:48] terrytangyuan opened #65 "Graduate MPI Operator, MXNet Operator and XGBoost Operator to v1"
This is part of the [roadmap](https://github.com/kubeflow/common/blob/master/ROADMAP.md).

[2020-04-12 22:48] terrytangyuan opened #66 "Allow user to submit jobs using Git repo without building container images"
This is part of the [roadmap](https://github.com/kubeflow/common/blob/master/ROADMAP.md).

[2020-04-12 22:50] terrytangyuan opened #67 "Centralized Job Dashboard for training jobs (Add metadata graph, model artifacts later)"
This is part of the [roadmap](https://github.com/kubeflow/common/blob/master/ROADMAP.md).

[2020-04-12 22:50] terrytangyuan opened #68 "Continue to optimize reconciler performance and reduce latency to take actions on CR events"
Performance optimization for 500 concurrent jobs and large scale completed jobs. Related Issues: https://github.com/kubeflow/tf-operator/issues/965 https://github.com/kubeflow/tf-operator/issues/1079.

This is part of the [roadmap](https://github.com/kubeflow/common/blob/master/ROADMAP.md).

[2020-04-13 13:41] terrytangyuan commented on #65
Progress are being tracked in individual repos:
- MXNet Operator https://github.com/kubeflow/mxnet-operator/issues/66
- MPI Operator TBA
- XGBoost Operator TBA

[2020-04-14 02:55] richardsliu commented on #65
As a reference, these are the graduation criteria for TFJob 1.0: https://github.com/kubeflow/tf-operator/issues/1076

[2020-04-14 17:22] Jeffwan opened #70 "Failed to fetch common module"
Following command doesn't work.

[code]

I think this is because of #62.

I use the stable version here for now and I will fix this when I get time.

[code]

[2020-04-14 21:38] Jeffwan opened #71 "Difference between kubeflow/common and kubeflow/tf-operator/pkg/common"
Comparing `ControllerInterface` between two different projects, tf-operator is pretty clean. `kubeflow/common` adds extra methods to create Job/Pod/Services.

https://github.com/kubeflow/common/blob/fda69c7bdd3870ab5981538542c2e6b01fe076be/pkg/apis/common/v1/interface.go#L31-L56

Besides that, we extracted a few interfaces for high level abstraction which makes sense. https://github.com/kubeflow/c

[2020-04-14 21:42] Jeffwan commented on #71
/cc @gaocegege @jian-he @johnugeorge @terrytangyuan

[2020-04-15 01:12] gaocegege commented on #71
Thanks for the issue. It is helpful. Will we have plan to migrate tf-operator to common?

[2020-04-15 01:15] terrytangyuan commented on #71
@Jeffwan Thanks for tracking down the differences!

@gaocegege Yes, check out the [current roadmap](https://github.com/kubeflow/common/blob/master/ROADMAP.md) and we are tracking it in https://github.com/kubeflow/common/issues/64.

[2020-04-15 01:51] k82cn commented on #70
@hzxuzhonghu , please also help to check this :)

[2020-04-15 02:13] hzxuzhonghu commented on #70
/assign

[2020-04-15 03:39] merlintang commented on #66
good point, and would like to watch how to solve it.

[2020-04-15 04:05] hzxuzhonghu commented on #70
@Jeffwan It is not the pr i filed introduced this issue.
[code]

[2020-04-15 04:08] hzxuzhonghu commented on #70
with ` go get github.com/kubeflow/common@v0.0.0-20200327002023-0b3a4c3fca85` i still get the same error

[2020-04-15 04:09] hzxuzhonghu commented on #70
Not sure why, it is weird how i can import latest from tf-operator.

https://github.com/kubeflow/tf-operator/pull/1152

[2020-04-15 04:11] Jeffwan commented on #70
@hzxuzhonghu I am not 100% sure this is related to the PR. Technically, once we replace libraries, it should be fine. Let me double check my environment.

I can confirm that if I import this separately, both latest and previous one won't work.
If I update it inside a project, latest doesn't work for me and previous commit works.

[2020-04-15 04:27] Jeffwan commented on #70
@hzxuzhonghu @k82cn  I think I figure it out. Sorry about the confusion. If one project doesn't have all component replaced, it may have this issue. In order to use `kubeflow/common`, we need to make sure it replace all kubernetes components. In my case, `mxnet-operaror` miss one `kubectl`. that's the failure come from. Thanks for the help.

[2020-04-15 04:27] #70 closed

[2020-04-15 05:52] hzxuzhonghu commented on #70
For those meeting the similar issue: https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-505627280

[2020-04-15 06:11] k82cn commented on #46
hm... are we going to do this feature?

[2020-04-15 13:14] terrytangyuan commented on #46
Yes it's part of our roadmap so contribution is welcomed.

[2020-04-15 17:51] Jeffwan commented on #70
@hzxuzhonghu The problem is `kubectl` is not part of distribution in kubernetes 1.15. #62 brings latest 1.18 change which has `kubectl` has part of the kubernetes. Operators without `kubectl` replace will failed to fetch the dependency. That's the root cause. If you see https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-505627280, it doesn't have `kubectl` as well. version by versi

[2020-04-15 18:07] Jeffwan commented on #71
I think my plan is to leave the interface for now.. I will have default implementation for following methods in `JobController` which is the our base controller in common. I will consider to use `https://github.com/kubeflow/tf-operator/tree/master/pkg/control` or kubernetes implementation directly (Consider the truth we can not move off Kubernetes due to expectation dependency).

Then other contro

[2020-04-15 18:13] Jeffwan commented on #59
/assign @Jeffwan

[2020-04-15 18:13] Jeffwan commented on #56
/assign @Jeffwan

[2020-04-15 18:13] Jeffwan commented on #52
/assign @Jeffwan

[2020-04-15 18:20] Jeffwan commented on #70
This is interesting. I notice `mxnet-operator` doesn't have `kubectl` replace can `go get github.com/kubeflow/common@v0.0.0-20200327002023-0b3a4c3fca85` successfully.

I think the problem is more on the Kubernetes side. most of the components including `kfctl` has been moved to `staging` which means kubernetes use `v0.0.0` for reference. This means we don't need `kfctl` override in the project unt

[2020-04-15 20:48] Jeffwan commented on #54
/assign @Jeffwan

All issues haven been resolved besides removing kubernetes dependency of expectations. This can be done in separate PR and will use track this issue in #48

[2020-04-15 20:48] #54 closed

[2020-04-15 20:48] Jeffwan commented on #48
Consider the case we plan to use PodControlInterface which is folked from `https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go#L464`.

I think it make sense to folk expectation code as well, that's in `controller_utils.go` as well. Expectation only has dependencies of client-go which is great.

[2020-04-15 20:53] terrytangyuan commented on #65
Also here are some good references on criteria, processes, and past exits: https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md#reference

[2020-04-20 08:03] xiaogaozi commented on #19
Just FYI, Volcano job controller is working on PVC per pod feature: https://github.com/volcano-sh/volcano/pull/703

[2020-04-23 14:20] czheng94 commented on #47
Any thoughts on this issue?

Some updates supporting the necessity of the Error ConditionType:

Similar "Error" conditions do exist in other Kubernetes components, e.g. in Deployment and ReplicaSet.

`ReplicaSet` has `ReplicaSetReplicaFailure` as a condition type:
https://github.com/kubernetes/kubernetes/blob/abe6321296123aaba8e83978f7d17951ab1b64fd/pkg/apis/apps/types.go#L788-L793

`Deployment` h

[2020-04-23 15:05] terrytangyuan commented on #47
cc @Jeffwan @gaocegege @johnugeorge @ywskycn @merlintang WDYT? Any objections on bringing this type of errors to Kubeflow CR level? It would be convenient to surface this at CR level status so users don't have to check each individual subresources but my main concern is that it's hard to define the types of errors that's retriable because this depends on the specific controller, use cases, as well

[2020-04-23 16:02] czheng94 commented on #47
@terrytangyuan

I don't think we need to define these specific error types in kubeflow/common. They can just all be the "Error" JobConditionType, then in each specific controller, we can use `JobCondition.Reason` and `JobCondition.Message` to expose the specific error.

[2020-04-23 20:20] terrytangyuan commented on #22
Hi all, I added a detailed outline of the Prometheus metrics we plan to coverage in common operator in https://github.com/kubeflow/common/pull/77. Please take a look and any feedback would be appreciated.

[2020-04-30 00:18] #48 closed

[2020-05-11 01:04] terrytangyuan commented on #60
cc @ShuhanYan @carmark in case you are interested

[2020-05-14 06:22] Jeffwan opened #86 "Bump Kubernetes dependency to 1.16"
I've seen this issue when I use common in other operators. The problem is volcano changes brings Kubernetes 1.16 and it has direct dependency on 1.16. At the same time, we still replace k8s packages to 1.15.10.

Build will work but if we determine to use 1.16 in other projects, CRD client.go will have incompatibility issue like beflow.

[code]

Let's bump version to 1.16 and make sure they are con

[2020-05-14 21:12] #86 closed

[2020-05-15 00:15] Jeffwan opened #89 "Change expectation package log level to debug"
expectation log level is Info now, it's kind of noisy. We will at least see two messages for one pod/service event on setting up or lowering the expectations.

It's better to change to debug level.

[code]

[2020-05-15 00:45] #89 closed

[2020-05-16 22:11] Jeffwan commented on #71
Some conclusion

1. We create a package in common for PodControl and ServiceControl. Pod/Services CRUD should use `control` package instead of exposing to end users
2. Still expose `GetPodsForService` and `GetServicesForJob` as interfaces and  `common` provides common implementation. User can override implementation based on the needs.  I learnt this in XGBoost operator migration, the problem is p

[2020-05-16 22:12] #71 closed

[2020-05-16 23:11] Jeffwan opened #92 "Skip check active deadline and backoff limit if job is terminated"
Comes from https://github.com/kubeflow/tf-operator/pull/1111.

Seems `kubeflow/common` doesn't have this patch yet. We need to update the reconcile logic.

[2020-05-17 00:27] Jeffwan opened #94 "PodGroup sync loop is missing"
We should reconcile PodGroup during Job reconciliation.

https://github.com/kubeflow/common/blob/4d01e683e1b3671ef5e189499dc73ce17a19a7fc/pkg/controller.v1/common/job.go#L192

The code doesn't have it.

See tf-operator and mxnet-operator
https://github.com/kubeflow/tf-operator/blob/7e06f5ca06bf5754da2e6e943a42e6458e6bb5e0/pkg/controller.v1/tensorflow/controller.go#L463-L469

https://github.com/kub

[2020-05-17 12:57] #92 closed

[2020-05-17 18:03] #94 closed

[2020-05-19 03:43] Jeffwan opened #96 "Make batch scheduler transparent to users"
We should extract common logic from kube-batch/volcano, make sure user pass some client by their own based on their choice.

[2020-06-06 19:42] ChanYiLin commented on #59
@Jeffwan  @gaocegege @johnugeorge   would like to know your idea on this topic

Currently in #58 implementation, we don't consider that whether the framework supports dynamic scale down, or whether the replicaType can be scaled down. We just scale down if index is out of range.
In other words, if the framework doesn't support dynamic scale down and the user still decreases the replica number, our

[2020-06-11 00:20] Jeffwan commented on #59
@ChanYiLin

I toke last week off and just come back this week and see this.

Yes, That's true. This is a kind of corresponding change like scale up. We didn't scale down replicas in the past. The framework level should be able to provide the ability, while, as you say, this should be controller by the user and controller needs to move job to desired state.

You mean in where?
`config.enableDynamic

[2020-06-16 23:30] Jeffwan opened #97 "[Release 1.1] training operator release"
Opening this issue to track releasing training operators for Kubeflow 1.1 and would like to add area OWNERS for @johnugeorge  @terrytangyuan @Jeffwan

Seems we want to these works done before 1.1 release. We may not finish all of them but let's have a try.

- Migration operator implementation to  kubeflow/common fashion. (TF, PyTorch in pending)
  - https://github.com/kubeflow/tf-operator/pull/117

[2020-06-17 00:51] terrytangyuan commented on #97
@Jeffwan Shouldn't we go through some sort of review process before the graduation of operators though? I don't think we would have sufficient time to finish that before 1.1 release.

[2020-06-17 14:29] terrytangyuan opened #98 "Allow modification of controller's replica index/type labels"
Per comment in https://github.com/kubeflow/tf-operator/pull/1171#discussion_r439856038, given that each operator may have different labels, we should discuss whether we want to allow each operator's controller that implements `JobController` to change `ReplicaIndexLabel` and `ReplicaTypeLabel`. For example, something like the following for tf-operator:

[code]
cc @gaocegege @Jeffwan @ChanYiLin @jo

[2020-06-17 14:36] terrytangyuan opened #99 "Consider supporting SuccessPolicy and FailurePolicy"
We recently added `SuccessPolicy` in tf-operator https://github.com/kubeflow/tf-operator/pull/1165 and are considering adding `FailurePolicy` to handle the case of failure in https://github.com/kubeflow/tf-operator/issues/1170. Once it's mature and if we see a common pattern in other operators, we should consider moving that to kubeflow/common.

cc @gaocegege @Jeffwan @johnugeorge @ChanYiLin @ping

[2020-06-18 13:36] jlewi commented on #97
* the apps cd pipelines have been fixed
* application owners please review PRs to update your apps and ensure they get merged
    * https://github.com/kubeflow/manifests/pulls/kubeflow-bot

/cc @terrytangyuan @Jeffwan

[2020-06-19 18:59] Jeffwan commented on #97
@terrytangyuan

Agree. I think once these operator meet done criterion, then they can be graduated. It would be better for us to connect owners and have some discussion. If we can not catch 1.1, I think it's fine.

[2020-06-22 16:59] Jeffwan commented on #99
Having success/failure would be great which would be easier for different frameworks to handle errors and it help make reconciler logic extensible.

[2020-06-22 17:06] Jeffwan commented on #98
I think we can have an interface there, and leave replica-type as default implementation in kubeflow/common, different operators can still override it if there's a need.

[2020-06-22 17:22] terrytangyuan commented on #98
Yes they should be able to override the defaults.

[2020-06-29 23:37] jlewi commented on #97
@terrytangyuan @Jeffwan any update?

[2020-06-30 13:23] terrytangyuan commented on #97
I think we should be ready regarding manifests (@Jeffwan correct me if I am wrong). Although There seems to be more [pending auto PRs](https://github.com/kubeflow/manifests/pulls/kubeflow-bot). @Jeffwan Could you check whether they need to be merged to master and cherry-picked to 1.1 release branch?

[2020-08-11 07:19] zw0610 commented on #99
With fault-tolerant & elastic distributed training propagating among more frameworks, a universal definition of failure and success for a distributed training job shall benefit developers for clarifying logic when handling pods failed or recently joined.

[2020-10-27 12:38] jlewi opened #102 "Training WG leads need to take ownership of release processes, infra, and artifacts"
Every work group needs to take ownership of its release process and artifacts.

This issue is tracking the work for training operators

@kubeflow/wg-training-leads

[2020-11-22 03:12] Jeffwan commented on #97
1.1 and 1.2 release are done. We may not use exact same version as Kubeflow in the future. WG operators will have their own branch or tags. We just need to make sure we bring the right version to kubeflow release.

[2020-11-22 03:12] #97 closed

[2020-12-04 02:13] gaocegege commented on #7
I am going to close this issue since it is stale.

[2020-12-04 02:13] #7 closed

[2020-12-04 02:15] gaocegege opened #103 "Proposal: Merge operators into one controller manager"
We have many operators in the community, and it causes huge maintenance costs. I think we should investigate if we can merge these operators into one process.

/cc @kubeflow/wg-training-leads

WDYT

[2020-12-04 03:18] ChanYiLin commented on #103
SGTM !
One of the feedbacks I heard from users is exactly the case.
"Before you run any job, there is already tons of pods running in the k8s."

We have tried to merge multiple controller in one process before. With using kubebuilder `SetupWithManager`, one can spawn multiple controllers in one pod while implement each controller separately

[2020-12-04 03:25] gaocegege commented on #103
Yeah, we also have an internal implementation for it. Alibaba has similar design. I think we can try to merge it back to the community.

[2020-12-04 03:26] gaocegege commented on #103
/cc @jian-he

[2020-12-07 15:49] terrytangyuan commented on #103
This is mainly for merging the controllers into one controller manager and we still keep the code base for different operators separate, right?

[2020-12-08 01:54] gaocegege commented on #103
Personally, I think it will be better to keep all training operators in one repository. WDYT

[2020-12-15 02:38] terrytangyuan commented on #103
@gaocegege Personally I think it would be great if the code bases are closer together but it might not be easy to maintain releases and versioning though. Also we may things like stargazers/watchers, commit history, and useful design discussions will be spread out if we start a new repo and develop from scratch.

[2020-12-29 03:21] mkkb473 opened #104 "CleanPodPolicyRunning should also clean Pending pods"
https://github.com/kubeflow/common/blob/31a6ec10d140a3c8cb12a863dcc1363f46ad9998/pkg/controller.v1/common/job.go#L31
orphan Pending pod will become orphan Running pod once schedulable.

[2021-01-05 03:51] #104 closed

[2021-01-14 02:51] gaocegege opened #106 "[feature] Suppory unit test by providing handlers for updateStatus and DeleteJob"
[code]

It will be better to have such handlers to replace them when running test cases.

/cc @ChanYiLin

[2021-01-14 08:51] ChanYiLin commented on #106
Thanks for the reminder,  I'll take this issue.

[2021-01-14 08:51] ChanYiLin commented on #106
/assign @ChanYiLin

[2021-01-14 08:52] ChanYiLin commented on #98
I will take the issue
/assign @ChanYiLin

[2021-01-25 17:24] ca-scribner commented on #66
Has there been any work on this, or any more detailed docs on what this should be/how to achieve it?  It sounds of interest, but I'm not sure whether it is meant to be:
* user does `kfp.run_from_repo(path_to_repo, base_image)` and kfp git clones/runs the python code from the repo in the base image, sort of like a lightweight component
* user does `kfp.run_from_repo(path_to_repo, base_image)` and k

[2021-01-25 19:05] Jeffwan commented on #103
One repo -> one manager -> multiple controller -> crd reconciler loop.

The manager could has many controllers, each controller should only take care of crd. Frameworks should be configured to

@gaocegege What's the plan on your side? We have some internal works going on as well and consider to make it in kubeflow.

[2021-01-26 08:21] gaocegege commented on #103
@Jeffwan We also have some internal works on it, maybe we can discuss it

[2021-02-01 07:44] gaocegege opened #110 "Don't import k8s.io/kubernetes"
Ref https://github.com/kubernetes/kubernetes/issues/90358

Ref https://github.com/argoproj/argo-cd/issues/5173

[2021-02-01 11:26] jiangkaihua opened #112 "Supplement more information about tfjob into podgroup when `enable-gang-scheduler` is set `true` in tf-operator"
When `enable-gang-scheduler=true`, tf-operator will create CRD `podgroup` to permit gang scheduler volcano to allocate the pods. but when createing pod in func ` SyncPodGroup`:
https://github.com/kubeflow/common/blob/3fbe0ce982691279357e33e573a93d8ce4254584/pkg/controller.v1/common/job_controller.go#L211
[code]

Only pod infos and `minMember` is set in podgroup, which resulting to ***function miss

[2021-02-01 12:12] gaocegege commented on #112
SGTM.

[2021-02-09 07:51] gaocegege opened #113 "[feature] Support gang scheduling configuration in common"
/cc @k82cn

We now support gang scheduling by adding a CLI flag to enable it. We do not expose the ability to users, thus there are some complaints that we do not support queue, minresources and some other PodGroup fields.

I think we should support these:

[code]

/assign

[2021-03-01 03:12] k82cn commented on #113
That's great !

[2021-03-14 04:29] shinytang6 commented on #113
@gaocegege Is there any timeline for that? Can l take that?

[2021-03-15 02:35] gaocegege commented on #113
@shinytang6 Sure, thanks for your contribution!

We do not have a clear plan for it.

[2021-03-25 04:53] Jeffwan commented on #110
I thought this has been done? @gaocegege  Any left over stories?

[2021-03-25 04:55] Jeffwan commented on #103
Raise this request in 3/24's AutoML and Training meeting. I will draft one proposal for deep discussion in following month. We can either discuss it offline or talk about it in next community meeting.

[2021-03-25 06:14] gaocegege commented on #110
It is blocked by volcano release. Thus it is still open.

[2021-03-25 16:27] #113 closed

[2021-03-25 16:34] Jeffwan opened #119 "Cut new release for kubeflow/common"
As @gaocegege suggested, we could cut a release as volcano support is fully integrated into kubeflow/common.

https://github.com/kubeflow/common/compare/v0.3.2...master

Any other pending changes to include in this release?  Next release is v0.4.0?

/cc @kubeflow/wg-training-leads

[2021-03-25 17:02] terrytangyuan commented on #119
Perhaps 0.3.3 since there are only 4 commits since 0.3.2 unless there are significant changes I may have missed?

[2021-03-26 02:10] gaocegege commented on #119
Is this release for 1.3?

Some features are not used now (e.g. https://github.com/kubeflow/common/commit/1c55acc7fa15c38ad47a80fb8c97d8d63f9a8748)

I think we can keep 0.3.2 in 1.3.

[2021-03-26 02:49] shinytang6 commented on #119
Maybe we should also replace the volcano dependency with volcano/apis in the next release.

ref: [https://github.com/volcano-sh/apis](https://github.com/volcano-sh/apis)

[2021-03-26 02:51] gaocegege commented on #119
Yeah, I think so.

[2021-03-26 05:41] Jeffwan commented on #119
Not necessary. I think release team already pin version in 1.3. kubeflow/common can have separate process

[2021-03-26 06:16] gaocegege commented on #119
SGTM, then I think we can wait for volcano api changes, as @shinytang6 said.

[2021-03-27 16:20] xieydd opened #122 "Make training container port support multi ports"
Now common repo only supports single port for communicating with each  other, but some scenarios need another pod for profiling or other user cases.
Currently `GetPortFromJob` func only return single port for job.
https://github.com/kubeflow/common/blob/1c55acc7fa15c38ad47a80fb8c97d8d63f9a8748/pkg/controller.v1/common/service.go#L256

Making port flexible, user can configure multi ports with the n

[2021-03-27 21:59] terrytangyuan commented on #122
Seems like a valid use case. WDYT? @gaocegege @Jeffwan

[2021-03-27 22:00] terrytangyuan commented on #122
@xieydd Where will this be used?

[2021-03-28 04:04] xieydd commented on #122
One user case from here https://github.com/kubeflow/tf-operator/issues/1251#issuecomment-805448262.

[2021-03-28 04:33] Jeffwan commented on #122
Em. Is this only for profiling? Any other use case needs a separate port?  This should be a valid use case. If that's only for profiling, I am trying to see if we can abstract a generic way to provide the support or let users to determine the port used for profiling.

[2021-03-28 13:58] xieydd commented on #122
@Jeffwan  AFAIK, profiling is the only user case. Generic a profiling port for user is good, but i am a little confuse why we can not make it flexible?

[2021-03-29 17:13] Jeffwan commented on #122
@xieydd Yeah, I just raise the idea. Never mind. Do you want to give it a try to support multiple ports?

[2021-03-30 01:29] xieydd commented on #122
Yes, i will give a pr asap. Thanks for @Jeffwan and @terrytangyuan

[2021-03-30 03:04] Jeffwan opened #125 "Bump dependency to 1.19 and upgrade client to accept Context"
There's a dependency to accept https://github.com/kubeflow/common/pull/123

Major reason is
1. kubeflow/common uses 1.16 and volcano latest api repo uses 1.19.
2. client-go accepts context in 1.18. https://v1-18.docs.kubernetes.io/docs/setup/release/notes/#client-go

We will need to upgrade k8s dependency to 1.19 directly and update clients to accept `Context.TODO()` and this will unblock volcano

[2021-03-30 07:53] Jeffwan commented on #125
We solve dependency issue by importing a volcano api version with lower k8s version 1.16.

Then we don't have to upgrade k8s dependency that urgent. Bumping to 1.19 or even newer version can be postponed

[2021-03-31 06:55] gaocegege commented on #119
Should we release a new version?

/cc @Jeffwan @shinytang6

[2021-03-31 07:07] shinytang6 commented on #119
+1. Looking forward to that :)

[2021-03-31 20:49] Jeffwan commented on #119
@gaocegege already cut the release. https://github.com/kubeflow/common/releases/tag/v0.3.3 👍

We can close this issue.

[2021-03-31 20:49] #119 closed

[2021-03-31 22:13] Jeffwan commented on #110
https://github.com/kubeflow/common/pull/111
https://github.com/kubeflow/common/pull/123
https://github.com/kubeflow/common/pull/127

`k8s/kubernetes` and `volcano.sh/volcano`  dependencies have been removed. We only need to import `api` and `apimachinery` now.

[2021-04-01 02:32] shinytang6 commented on #119
@Jeffwan @gaocegege Is there any release plan for tf-operator/mpi-operator or other operator recently? l think we should plano to update the `common` version there.

[2021-04-01 07:51] gaocegege commented on #119
We have the PR for tf-operator. After it is merged we can release a new version.

[2021-04-01 17:52] Jeffwan commented on #119
please help on rest of the repos.

[2021-04-05 09:40] shinytang6 opened #129 "[feature] Support delay pods creating when EnableGangScheduling is true"
As described in [https://github.com/kubeflow/tf-operator/issues/1264](https://github.com/kubeflow/tf-operator/issues/1264) and [https://github.com/volcano-sh/volcano/issues/1387](https://github.com/volcano-sh/volcano/issues/1387)

we expect that if `EnableGangScheduling` is true, the pods controlled by job operator should be delay creating util the podgroup status is `Inqueue` or `Running`.

/cc @

[2021-04-08 06:46] zw0610 commented on #96
Apart from kibe-batch and volcano, I'd also suggest scheduler framework as a choice for users. Is there any progress in this issue? It seems more flexible if we can decouple kube-batch/volcano from kubeflow/common.

[2021-04-08 08:11] zw0610 commented on #103
I second @terrytangyuan 's suggestion that instead of merging all operators into one repo. While keeping one manager with multiple controller does bring many benefits like saving traffic, if the controllers work independently, the one-manager-multiple-controller design is perpendicular to the idea of sharing job reconciliation function to all operators for develop cost saving. That includes featur

[2021-04-08 08:37] zw0610 commented on #103
But here I have another concern. The contemporary design of `ReconcilePods` and `ReconcileServices` is really puzzling thanks to the lack of real OOP in golang. Moreover, this design still prevents developers from sharing elastic feature among operators. For example, when the replicas of `worker` is changed, the Pods creation/deletion logic still needs to be implemented individually for multiple o

[2021-04-09 00:15] Jeffwan commented on #103
I don't quite understand `perpendicular ` in this context.. Can you elaborate this with more details?

I think this is a good idea. I have two things in mind.

1. from implementation perspective, I am not sure if there's a way to leverage existing tools like `kubebuilder` to `operator-sdk` and inject generated codes. Currently, people still need to use low level api or use kubebuilder to generate

[2021-04-09 02:01] zw0610 commented on #103
Hi @Jeffwan , what I mean for the comment above is whether we use one-mgr-multi-controller or controllers working individually is a question of another dimension to the idea of sharing the code on how we reconcile jobs. With or without such a design, we can help developers working on operators for new frameworks with more shared code base.

[2021-05-03 06:10] Jeffwan commented on #103
Some updates here. @zw0610 and I wrote a doc and we still need some time to polish the doc and make it public. Then we can have some discussion in WG meetings.

[2021-05-04 23:19] thesuperzapper commented on #102
@kubeflow/wg-training-leads I imagine this has been completed?

[2021-05-05 00:04] terrytangyuan commented on #102
Yes we can close it

/close

[2021-05-05 00:04] #102 closed

[2021-05-17 12:57] chxk opened #132 "project cannot complie with kubeflow/common v0.3.3 and client-go v0.19"
I use operator-sdk(v1.5.0) and this repo to scaffold a project.
go.mod
[code]
By I met errors when I try to compile,
[code]
How can I solve this problem?

[2021-05-17 18:41] Jeffwan commented on #132
@chxk

https://github.com/kubeflow/common/pull/126

Let me merge this PR and unblock you

[2021-05-18 03:14] chxk commented on #132
Thanks, and what is the estimated time of merging?

[2021-05-18 03:15] chxk commented on #132
Thanks, and what is the estimated time of merging?

[2021-05-18 20:58] #132 closed

[2021-05-18 21:17] #122 closed

[2021-05-18 21:20] Jeffwan commented on #125
https://github.com/kubeflow/common/pull/126 resolve this issue

[2021-05-18 21:20] #125 closed

[2021-05-19 17:57] Jeffwan commented on #103
Here's the proposal [All-in-one training operator](https://docs.google.com/document/d/1x1JPDQfDMIbnoQRftDH1IzGU0qvHGSU4W6Jl4rJLPhI/edit#heading=h.e33ufidnl8z6)

[2021-05-20 04:51] johnugeorge commented on #103
Few thoughts

1. Are all operators using same amount of resources? Say, In one deployment, Pytorch jobs are spawned more than TF Jobs while in other, MXNet jobs are used more.  How do we control/recommend resource usage from a single combined operator point of view?
2. Since we will lose isolation between operator deployments, will releases become difficult? Also what if there is CR upgrade requir

[2021-05-20 06:22] gaocegege commented on #103
@zw0610 and @Jeffwan are working on the design, I think we can discuss it in the community call.

[2021-05-20 11:53] terrytangyuan commented on #103
I also just left some specific comments in the doc. Please take a look when you get a chance.

[2021-05-21 06:43] Jeffwan commented on #103
controllers will use different amount of resources. Instead of understanding each controller's utilization, I would recommend to adjust resources based on total number of the jobs.  For users who transit from multiple operators, they can sum up request/limits and use it in the new operator. ( All-in-one operator uses less resources because of shared cache. ) However, this won't be accurate, it wou

[2021-05-24 18:18] johnugeorge commented on #103
When any CR is upgraded, we will need operator upgrade and controller restart. Will upgrade be difficult for the users?

[2021-05-25 08:07] MartinForReal opened #134 "Type of replicaType is not consistent in common project"
Is there any thought about why type of replicaType is not consistent across the common project?

e.g.

https://github.com/kubeflow/common/blob/eb55ddefdea6d4034af9f4fe66dd202ff3af400e/pkg/apis/common/v1/interface.go#L47

vs

https://github.com/kubeflow/common/blob/eb55ddefdea6d4034af9f4fe66dd202ff3af400e/pkg/apis/common/v1/interface.go#L57

I think maybe it is a good idea to define replicaType as

[2021-05-27 22:41] Jeffwan commented on #134
It makes no difference from usage perspective but I agree we should make it consistent.

[2021-06-01 05:02] #134 closed

[2021-06-26 23:40] Jeffwan opened #138 "Unified training operator working progress"
@zw0610 and I present all-in-one training operator proposal in last month community meeting.

This issue is created to track implementation progress.

[2021-06-27 00:26] Jeffwan commented on #138
Things to figure out.

1. code repo process, project name -> confirm with Bobby.
2. tech stack? Kubebuilder version, Kubernetes version etc
3. integration environments - Prow or Github Actions, Where to hold the images? Andrey
4. API version management & clientset generation
5. Development cycle

[2021-06-27 00:36] Jeffwan commented on #103
I forget to response that, I think the upgrade behavior is similar to existing controller. The only "overhead" is operator owner may need more time for coordination since users are all using one.

[2021-07-02 14:57] omerfsen commented on #66
+1

[2021-07-05 18:10] Jeffwan commented on #138
An update on above items. @zw0610  @kubeflow/wg-training-leads

reuse tf-operator and rename to `kubeflow/training-operator`. pending confirmation with Boggy.

all issues, commits, followers, start will be transferred to new repo.

kubernetes 1.19.x kubebuilder 3.0.0 controller-runtime v0.7.2

reuse our PROW test jobs in `all-in-one-operator` branch. use AWS public images and CD for short term.

S

[2021-07-05 19:31] andreyvelich commented on #138
Thank you for driving this @Jeffwan!

Is there any limitation why we need to use Kubernetes 1.19 ? Can we just jump to 1.20 or even to the latest 1.21 version ?

Does it mean that we also drop SDK support ? Or we are talking only about clientset, listers, informers ?

[2021-07-06 04:49] Jeffwan commented on #138
Yeah, this is flexible. Since current repo use lower version. We plan to have a 1.19 as a start and then jump to 1.21 once we merge back to master. Just in case someone user lower version and we want to have a tag or release for those users.

Yeah, you are right. Python SDK will be supported. I mean clientsets. controller itself use higher level client and doesn't need clientsets. BTW. does Katib

[2021-07-06 13:15] andreyvelich commented on #138
Sounds good @Jeffwan.

No, we are only using APIs from the TFJob: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/experiment/validator/validator.go#L28 to validate TFJob, etc. But this also can be omitted from our side since it's not necessary. cc @kubeflow/wg-automl-leads

[2021-07-06 18:40] johnugeorge commented on #138
@Jeffwan Great. Can we merge code in phase as review will be easier?

[2021-07-07 00:25] Jeffwan commented on #138
@johnugeorge sure.  I will cc all training leads for PRs coming into feature branch.

[2021-07-07 14:57] zw0610 opened #140 "[feature] Add reconciler.v1 package along with controller.v1"
The common repo offers a `controller.v1` package which is designed for low-level controller mode in kubebuilder. As we are working on a unified controller, it seems a `reconciler.v1` package will help future developers to code in high-level reconciler mode.

I would like to take a try if developers think such a `reconciler.v1` package will be helpful.

*There will be some code overlapping between

[2021-07-07 14:57] zw0610 commented on #140
/cc @terrytangyuan @Jeffwan

[2021-07-07 19:23] johnugeorge commented on #140
I think, we should move away from low level controller mode so that code is easy to maintain and new devs will find it easy. However, difficulty is  to ensure stability of the code base when doing the porting work.

[2021-07-07 19:58] terrytangyuan commented on #140
Agreed. We should only expose modules to developers when needed. Otherwise it might introduce additional maintenance efforts such as backwards compatibility and versioning of the new module.

[2021-07-08 01:12] zw0610 commented on #140
I see. So let me prepare the `reconciler.v1` package first. We can further discuss how to deal with the controller mode code.

[2021-07-08 17:31] Jeffwan commented on #140
Current library provides `reconcile` logics. It's kind of neutral and we did some refactor last year to make it work with both in low level mode (tf, mxnet) or high level mode (xgboost). It we plan to move to `reconciler.v1`.  Let's add more details what need to do in `reconciler.v1`

[2021-07-11 00:02] Jeffwan opened #142 "Expose operator prometheus metrics"
Some job controller already has prometheus support while some do not. This story is used to track the progress to expose prometheus metrics for all controllers.

- Build a common util to add/remove key metrics, etc
- Convert job type to labels

[2021-07-11 00:08] Jeffwan opened #143 "Unify logging for common operator"
All of below have usage in different operators. This makes logs very messy and we need to consolidate to one common utility

1. "github.com/sirupsen/logrus"
2. "github.com/go-logr/logr" - default logger interface used by reconciler generated by kubebuilder.
3. "sigs.k8s.io/controller-runtime/pkg/log"  - implementation of "go-logr/logr"
4.  https://github.com/kubeflow/common/blob/master/pkg/util/lo

[2021-07-14 04:29] Jeffwan opened #144 "Dynamic roles which can technically support any potential frameworks"
Every framework's implementation is pretty close and I am thinking we actually don't need that many controllers/operator. If we can support custom roles, most popular framework can adapt to it.

The major challenge is to let controller know how it can construct the environment of cluster spec. If there's a way to represent it in annotation/label etc. What might be a feasible way

[2021-07-14 06:36] zw0610 commented on #144
I think it's a great idea to support custom roles. My personal experience tells me there exist many situation what we need to further extend the definition of roles. Moreover, we shall not limit the customization to the pod environment. Instead, it might be a good idea to let user to 'decorator' the pod template for each customized role.

Without changing too much to the architecture of the contem

[2021-07-19 10:16] MartinForReal opened #145 "Proposal: Define a job type to track all kinds of jobs on the same cluster"
It would be better if we can apply a single set of rules to  all of jobs running on the cluster regardless of jobs' types.

Following information should be considered if we define an job type:

- roles and specs:
- policy
- Owner/Origin(e.g. tfjob, mpijob)
- status
optional:
- queue/quota
- scheduling profile

We can see similar pattern in storage management, cluster management. e.g.
Machine and v

[2021-07-23 06:37] gaocegege commented on #145
Please have a look at https://docs.google.com/document/d/1x1JPDQfDMIbnoQRftDH1IzGU0qvHGSU4W6Jl4rJLPhI/edit

[2021-07-26 11:23] #129 closed

[2021-07-29 03:33] Jeffwan commented on #144
Yeah. I am thinking how we can insert "clusterSpec" environment for different frameworks?

[code]

different framework have different settings on this part. The most easiest way is to have some predefined templates in the code.

[code]

[2021-07-29 20:30] Jeffwan commented on #145
@MartinForReal Feel free to check issues with "help wanted" tags and any contribution are welcomed.

[2021-07-31 05:10] Jeffwan opened #147 "Panic when controller restarts"
I am working on all-in-one-operator development. There's a panic when I rebuild and restart the controller.
Seems it's a problem of default Run policy setting issue.  It's highly possible a problem in my dev branch. I create this issue just in case.

https://github.com/kubeflow/common/blob/f162091f3ea6b2275635d48116dd67c1b344ef61/pkg/controller.v1/common/job.go#L27

[code]

[2021-08-03 22:12] Jeffwan commented on #147
INFO[0035] Reconciling for job cleanpod-policy-tests-v1
E0803 15:09:22.068987   83123 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
goroutine 391 [running]:
k8s.io/apimachinery/pkg/util/runtime.logPanic(0x2251700, 0x3277540)
	/Users/jiaxin/go/pkg/mod/k8s.io/apimachinery@v0.19.9/pkg/util/runtim

[2021-08-05 14:14] alculquicondor opened #148 "Use fully-qualified labels"
Pods created with kubeflow controllers get some labels https://github.com/kubeflow/common/blob/master/pkg/apis/common/v1/constants.go

It is common practice in k8s to add a domain to the label name. This should reduce the chances of collision with user-defined labels. Then, the labels should go from:
- `replica-index` to `kubeflow.org/replica-index`
- `replica-type` to `kubeflow.org/replica-type`

[2021-08-05 14:17] alculquicondor commented on #148
cc @Jeffwan @gaocegege @terrytangyuan @andreyvelich @johnugeorge

[2021-08-05 18:21] Jeffwan commented on #148
I think that's a good idea. The good thing here is label should be transparent to end users.

[2021-08-05 19:23] terrytangyuan commented on #148
Sounds good as long as we have a deprecation plan for the following releases.

[2021-08-05 19:49] alculquicondor commented on #148
Is there any cadence for the releases?

Let me expand on the idea for the implementation:
1. We change the common repository as suggested above
2. When we upgrade the common dependency of an operator, we make sure the controller adds both the new and deprecated labels. We also make sure that any logic that relies on the labels supports both.
3. In a later release, we stop adding the deprecated lab

[2021-08-05 21:28] andreyvelich commented on #148
It's a great idea @alculquicondor!

Do we need to add training at the domain also ? I saw some Kubernetes projects are doing that.
For example: `training.kubeflow.org/job-role`.

[2021-08-05 21:34] alculquicondor commented on #148
Thanks.
Yes, we do that to be more specific, as k8s is a big project. We could play safe and add `training` too. Are you aware of other Kubeflow WGs having labels that might collide?

[2021-08-05 21:39] andreyvelich commented on #148
@alculquicondor I was thinking that we should also modify labels for Katib components: https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/controller/controller.yaml#L6-L8.
For example, `katib.kubeflow.org/app: controller`

[2021-08-05 21:50] alculquicondor commented on #148
would it make sense for that to be `kubeflow.org/operator-name: katib`?

[2021-08-05 22:01] andreyvelich commented on #148
Since Katib has several components, we are using these labels to show cluster administrators what is this component for.
For example, this label for [Controller Deployment](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/controller/controller.yaml#L6-L8), this label for [UI Deployment](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/ui/ui.yaml#

[2021-08-05 22:03] alculquicondor commented on #148
Gotcha. Having `training.kubeflow.org` makes a lot of sense then.

[2021-08-06 00:57] PatrickXYS commented on #143
Do we have any preference in those log libraries? @Jeffwan

[2021-08-06 01:33] Jeffwan commented on #143
@PatrickXYS We do prefer json logging.  No big preference. The challenge is different components use different solutions
- kubebuilder
- logrus

Let's see if we can consolidate into one

[2021-08-06 01:59] gaocegege commented on #148
SGTM, and we also need to update the doc.

[2021-08-09 19:13] alculquicondor opened #149 "Fully-qualified labels migration tasks"
These tasks must be completed to finalize the migration to fully qualified labels #148

- [x] Migrate `SyncPdb` to non-deprecated label
- [x] Remove deprecated selector from `FilterPodsForReplicaType`
- [x] Remove deprecated selector from `FilterServicesForReplicaType`
- [x] Remove deprecated labels from API
- [x] Remove deprecated labels usage from pkg/util/labels
- [x] Remove deprecated labels f

[2021-08-10 04:30] #148 closed

[2021-08-16 13:40] alculquicondor opened #153 "Cut release-0.4 branch and cut 0.4.0 tag"
Sounds good.  Let's cut `release-0.4` branch and cut 0.4.0 tag for the new release.  sounds good to you? @gaocegege

_Originally posted by @Jeffwan in https://github.com/kubeflow/common/issues/150#issuecomment-898603418_

[2021-08-16 13:40] alculquicondor commented on #153
/assign @Jeffwan

[2021-08-16 13:41] alculquicondor commented on #153
Perhaps it's worth also cutting a `release-0.3` branch that doesn't contain #151

[2021-08-17 04:00] Jeffwan commented on #153
@alculquicondor I double check the commit and seems this is not a breaking change. Do you think 0.3.x is better?

We plan to merge a large change soon. https://github.com/kubeflow/common/pull/141

We can definitely mark #150 and #141 both as candidate in 0.4.0. But that may take few days. (by end of week).
If you are hurry to use #150. I think 0.3.x makes sense as well. I can help cut it today.

[2021-08-17 04:26] Jeffwan commented on #147
This issue has been fixed here https://github.com/kubeflow/tf-operator/pull/1360.

It's not a problem of kubeflow/common. It happens here because it always assume there's value of runPolicy.

[2021-08-17 04:26] #147 closed

[2021-08-17 13:45] alculquicondor commented on #153
It is partially breaking. The controllers continue working. But if there was someone using the variables from the package directly, trying to query a cluster running old controllers, their filters might not work.

We might need a 0.5 branch when we fully remove the deprecated annotations later in the future.

[2021-08-17 22:48] Jeffwan commented on #153
Please check it

https://github.com/kubeflow/common/releases/tag/v0.4.0

[2021-08-19 20:56] alculquicondor commented on #153
It seems to be working kubeflow/mpi-operator#409

[2021-08-29 18:39] Jeffwan opened #154 "PR 135 makes replicaType updates hard"
In this PR, https://github.com/kubeflow/common/pull/135/files, it changes rtype to ReplicaType.

However, it brings some challenges in operator upgrade.

[code]

Using this line as an example,  controller retrieve `rtype` from pod label. It's lower case at this moment.

https://github.com/kubeflow/tf-operator/blob/ff5aaf10bd8a665cbce72dd2cd1d2c0cd06f329e/pkg/apis/tensorflow/v1/types.go#L77

https:

[2021-08-29 21:27] terrytangyuan commented on #154
This indeed feel like unnecessary and complicate the implementations. Kubeflow/common should aim to be easy for downstream operators to implement.

[2021-08-30 02:23] gaocegege opened #156 "[chore] Upgrade PriorityClass to scheduling.k8s.io/v1"
W0830 10:22:17.043057   30777 warnings.go:67] scheduling.k8s.io/v1beta1 PriorityClass is deprecated in v1.14+, unavailable in v1.22+; use scheduling.k8s.io/v1 PriorityClass

[2021-08-30 02:23] gaocegege commented on #156
/cc @Jeffwan

[2021-08-30 02:57] MartinForReal commented on #154
Maybe more helper functions would resolve comparison issue? I think we can add some type name convention by defining ReplicaType type and add more util functions.

[2021-08-30 03:12] Jeffwan commented on #154
@MartinForReal

Yeah, I add something like https://github.com/kubeflow/tf-operator/pull/1388/files#diff-7600abe3663b532d64fec9dae52fcb3b972fb034c53a45fe0030fc61776d1612R56

Did you use kubeflow/common in operator other than kubeflow training operators?

[2021-08-30 05:39] Jeffwan opened #157 "Use Interface instead of lister/informer in controller"
A follow up PR of https://github.com/kubeflow/common/pull/155

In the common code base, we still use low level listers and hasSynced which is not used in training-operator any more.
Let's change to XXInterface from kubeClientSet. Otherwise, we have to create `sharedInformers` and then create listers which is unnecessary in latest client pattern

[2021-08-30 07:34] zw0610 commented on #157
Good idea. May I assign this feature to myself?

[2021-08-30 18:54] Jeffwan commented on #157
/assgin @zw0610

[2021-08-30 18:54] Jeffwan commented on #157
@zw0610 sure. Feel free to pick it up

[2021-08-31 09:13] gaocegege commented on #103
Should we close this issue?

[2021-08-31 18:23] Jeffwan commented on #103
/close

[2021-08-31 18:23] #103 closed

[2021-09-06 09:22] zw0610 opened #159 "Missing methods in reconciler.v1"
In https://github.com/kubeflow/common/pull/141, methods implemented as `panic("implement me!")` that are aimed to let developers overriding is removed as the pull request is merged. However, when creating a demo reconciler or even run the test file `pkg/reconciler.v1/common/service_test.go`, it raises error:

[code]

Simply comment out the `DefaultKubeflowReconciler` method in `pkg/reconciler.v1/c

[2021-09-19 07:11] Jeffwan opened #160 "Master fails to build"
[code]

dependency is missing in go.mod and it's imported implicitly.

/cc @zw0610

[2021-09-19 07:13] Jeffwan commented on #160
After `go get github.com/go-logr/logr@v0.2.0`, I get other errors.

[code]

[2021-09-19 07:19] Jeffwan commented on #160
After adding `sigs.k8s.io/controller-runtime v0.7.2`, it shows some reconciler errors

[code]

[2021-09-19 07:21] Jeffwan commented on #159
I think first option means we can not provide high level reconciler for users?  If that's true, I prefer second option and probably give clear documents and let user know this should be overrided

[2021-09-19 08:00] gaocegege commented on #160
Do we have CI to test if it can be built successfully?

[2021-09-19 08:21] Jeffwan opened #162 "Enable GitHub action to build and test code"
See https://github.com/kubeflow/common/pull/161

#141 introduces some build failures but we don't notice that before we merge the code. Travis somehow was deleted at that time. @gaocegege suggests to use Github actions.

Let's migrate scripts https://github.com/kubeflow/common/blob/master/.travis.yml to a Github Action manner.

We do need this to guarantee code quality

/help
/good-first-issue

[2021-09-19 19:19] Jeffwan commented on #162
/assign @SumLare

[2021-09-20 18:14] Jeffwan commented on #162
https://github.com/kubeflow/common/runs/3648012266 Interesting, in the latest workflow, I didn't see failure logs..

[2021-09-20 18:46] SumLare commented on #162
Well https://status.coveralls.io/ still doesn't look good

[2021-09-20 19:08] Jeffwan commented on #162
Yeah, that's the problem

[code]

[2021-09-21 07:59] gaocegege commented on #162
coveralls crashes sometimes.

[2021-09-21 17:53] Jeffwan commented on #162
Let's do this to overcome the issue. Since goveralls is nice to have, we can ignore the failures in CI. I can not believe recovery takes that long..

`goveralls || echo "push to coveralls failed"`

[2021-09-22 03:50] Jeffwan commented on #160
@gaocegege As you know, CI was removed somehow. #161 Address this issue and we can close it. Github Action has been added

[2021-09-22 03:50] #160 closed

[2021-09-24 22:22] Jeffwan commented on #162
This can be closed. thanks @SumLare !

[2021-10-08 19:17] goyalankit opened #167 "Limit the number of restarts under ExitCode restartPolicy"
In the current [implementation](https://github.com/kubeflow/common/blob/master/pkg/core/job.go#L86-L89), the `runPolicy.BackoffLimit` is only applicable on `OnFailure` and `Always` restart policies. I was wondering if there's a reason it's not supported on the `ExitCode` restart policy. Often in the case of OOM, the job exits with an exit code of 137 which is rightfully a retriable error. However,

[2021-10-09 02:07] gaocegege commented on #167
Hi @goyalankit . Thanks for the issue.

I think it makes sense, WDYT @kubeflow/wg-training-leads

[2021-10-09 03:06] Jeffwan commented on #167
I think this is reasonable improvement. @goyalankit Feel free to cut a PR and assign to us to help review

[2021-10-09 10:57] johnugeorge commented on #167
Thanks for this

[2021-10-19 01:43] #167 closed

[2021-10-26 04:32] mirocody opened #170 "Encounter NIL Error when job in error stage with TTL value set"
Hi community,
I am trying to deploy a simple task using pytorchjob with the following yaml:
[code]

the scripy exception.py is nothing but just throw an exception to let the contaienr go to error status. Then the training operator pod logs the following:
[code]
It looks like the assumption in  [this line](https://github.com/kubeflow/common/blob/654b666ee7d1b7c81711c748f9cd8c1498b7c7bb/pkg/controll

[2021-11-10 08:37] #145 closed

[2021-11-11 07:48] zw0610 opened #175 "pr 172 breaks training-operator"
#172 breaks training-operator when installing crd

reproduce steps:
1. change go.mod and go.sum
[code]

2. run make manifets
[code]

3. run make install
[code]

[2021-11-11 07:50] zw0610 commented on #175
anyone know how to fix it?

[2021-11-11 08:31] gaocegege commented on #175
cc @pugangxa

[2021-11-11 09:20] pugangxa commented on #175
There's bunch of this errors like https://github.com/kubernetes/kubernetes/issues/91395 when searched and occur even after I changed to listType=map in https://github.com/kubeflow/common/pull/174 .
Investigated and seems the solution to add defaulter to default the values for the map key. But I don't think it's reasonable to add default value to the condition.
Also since there's a lot of this kind

[2021-11-11 09:30] pugangxa commented on #175
The error is reported from https://github.com/kubernetes/apiextensions-apiserver/blob/e52d5683d8e566b9989f59c09d74bdb0da937981/pkg/apis/apiextensions/validation/validation.go#L852-L861 , I have rollback the changes in https://github.com/kubeflow/common/pull/174 , sorry for the inconvenience.

[2021-11-11 14:32] alculquicondor commented on #175
Have you tried adding `// +optional` and `omitempty`?

[2021-11-15 04:13] pugangxa commented on #175
Did a quick test by adding  `// +optional` and `omitempty`, although this can remove `condition` from `required` in the CRD, but still report this error when applying.
I think there's lots of this api rule violation(before I think it's only this one) during compiling `common` so we can leave this for now and address together if needed.

[2021-11-28 15:02] qiankunli opened #179 "set podgroup failed when pytorchjob failed"
I find pytorchjob is failed but relative podgroup is "Inqueue", so in volcano view,  podgroup also own the resource.
it should set podgroup failed when pytorchjob failed

[2021-11-29 02:04] #179 closed

[2021-12-18 10:46] zw0610 opened #182 "Add comment to Clean Policy and Restart Policy nums"
While the comment for `CleanPodPolicy` and `RestartPolicy` defines what these policies mean, there is no explanation for `CleanPodPolicyAll`, `CleanPodPolicyRunning`, `CleanPodPolicyNone`, `RestartPolicyAlways`, `RestartPolicyOnFailure` and `RestartPolicyNever`

[2022-03-21 19:17] rllin opened #186 "When `restartPolicy` is `ExitCode` and a pod is deleted (137), the entire TFJob will still be marked as failed."
*Expectations*: if a replica has `restartPolicy=ExitCode`, then a pod deletion (triggers `137`) should cause that pod to restart without triggering TFJob failure.
*Reality*: The entire TFJob fails.

However, the correct behavior happens for `OnFailure` where the pod is properly restarted without the entire job failing.

How to reproduce:
1. Take below spec [0], and apply.
2. Delete the evaluator p

[2022-03-23 03:11] gaocegege commented on #186
/cc @zw0610 @kubeflow/wg-training-leads

[2022-03-23 05:43] cheimu commented on #186
Hi @rllin,
<img width="342" alt="image" src="https://user-images.githubusercontent.com/13050415/159631646-cf3b5c56-3c81-4a13-94d3-ed19efb94fa8.png">
For busybox, I use /bin/sh to make it run, otherwise pod will get a containerCannotRun error.

It is unrelated to the main issue.

[2022-03-23 05:54] cheimu commented on #186
I guess this is the reason why manually delete it won't work.
<img width="1052" alt="image" src="https://user-images.githubusercontent.com/13050415/159632317-81abbc06-a63e-406e-8003-1ddfe6251814.png">
When Terminating a pod, it will trigger `ReconcilePods()`,  and terminating pod will not set `pod.status.phase` into failed, so it won't get into the logic to restart it.

[2022-03-23 06:13] rllin commented on #186
@cheimu sorry, that's my bad, i had to replace an internal command with the `sleep`!

[2022-03-23 11:51] cheimu commented on #186
Well, it's very trick problem. It took me a very long time to figure it out.

call chain is following:
1. [jc.Controller.ReconcilePods(metaObject, &jobStatus, pods, rtype, spec, replicas)](https://github.com/kubeflow/common/blob/master/pkg/controller.v1/common/job.go#L273) -> [commonutil.UpdateJobConditions()](https://github.com/kubeflow/training-operator/blob/master/pkg/controller.v1/tensorflow/t

[2022-03-23 17:49] pavanky commented on #186
This is inline with what we think is the issue. But we weren't sure if the bugfix was to be in the UpdateJobConditions or if line 504 in the second loop needs to check for `JobRunning`.

[2022-03-23 18:22] cheimu commented on #186
I'm currently trying record the `restarting` cond first, then append it back, it passed the unit tests; not sure if this worked on real situation. Going to test it tomorrow(actually today) morning ;D

[2022-03-24 02:21] gaocegege commented on #186
/cc @jian-he

Seems that the code is from @jian-he, would you mind having a look at this issue?

[2022-03-24 17:11] rllin commented on #186
@cheimu thanks for the quick turnaround!

[2022-04-20 06:52] Neytoph opened #191 "cannot use "github.com/go-openapi/spec".Schema{...} (type "github.com/go-openapi/spec".Schema) as type "k8s.io/kube-openapi/pkg/validation/spec".Schema in field value"
my env:
## go version
       go1.17 linux/amd64
## go.mod
	k8s.io/api v0.23.1
	k8s.io/apimachinery v0.23.1
	k8s.io/client-go v0.23.1
	k8s.io/klog v1.0.0
	k8s.io/kubernetes v1.23.1
	github.com/kubeflow/training-operator v1.4.0

when i build go project, i got
 `# github.com/kubeflow/common/pkg/apis/common/v1
/root/go/pkg/mod/github.com/kubeflow/common@v0.4.1/pkg/apis/common/v1/openapi_generated.go:3

[2022-04-20 07:33] Neytoph commented on #191
i fix it by
add require an old kube-openapi
	k8s.io/kube-openapi => k8s.io/kube-openapi v0.0.0-20211110012726-3cc51fd1e909

[2022-04-20 07:33] #191 closed

[2022-06-14 09:40] kerthcet commented on #46
I think we can close this refer to https://github.com/kubeflow/common/blob/21f5ba8833a2e21df17601497a08396c9bae9ab2/pkg/apis/common/v1/types.go#L204-L209

[2022-09-16 18:02] #66 closed